#article{
	width: 100%;
	height: 100%;
	overflow: hidden;
	height: 94%;
	#img-container{
		.article-content{
			@include flexbox();
			@include flex();
			@include flex-direction(column);
			width: 100%;
			padding-left: .15rem;
			nav{
				@include flexbox();
				@include flex();
				@include wrap(wrap);
				width: 100%;
				margin: .3rem 0 .04rem;
			    .curA{
			    	background: #f1f1f1;
			    }
				a{
					@include border-radius(.100rem);
					display: block;
					height: .22rem;
					line-height: .2rem;
					padding: .01rem .08rem;
					text-align: center;
					font-size: .14rem;
					color: #757575;
				}
			}
			.content{
				@include flexbox();
				@include flex();
				@include flex-direction(column);
				padding: 0 .08rem 0 .1rem;
				width: 100%;
				a{
					color: #000;
				}
				ul{
					@include flexbox();
					@include flex();
					@include flex-direction(column);
					width: 100%;
					li:last-child{
						margin-bottom: .2rem;
					}
					li{
						@include flexbox();
						@include flex-direction(column);
						width: 100%;
						padding-top: .3rem;
						a{
							display: block;
							width: 100%;
						}
						img{
							width: 100%;
							height: 100%;
						}
						p{
							width: 100%;
						}
						p:nth-of-type(1){
							padding-top: 16px;
							font-size: 18px;
							font-weight: 600;
							line-height: 1.3;
							color: #212121;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
						p:nth-of-type(2){
							padding-bottom: 16px;
							font-size: .14rem;
						    line-height: 1.6;
						    color: #757575;
						    margin-top: .12rem;
						    display: -webkit-box;
						    -webkit-line-clamp: 3;
						    -webkit-box-orient: vertical;
						    overflow: hidden;
						}
						p:nth-of-type(3){
							font-size: 12px;
							text-align: right;
						}
					}
				}
			}
		}
	}
}