
header{
	@include flexbox();
	@include flex();
	width: 100%;
	height: 50px;
	padding: 0 15px;
	border-bottom: 1px solid #ccc;
	background: #FFF;
	div{
		@include flexbox();
		@include flex();
		@include align-items();
		img{
			width: 42px;
		}
	}
	form{
		@include flexbox();
		@include flex();
		@include justify-content(flex-end);
		@include align-items();
		input{
			border: none;
			width: 22px;
			height: 16px;
			padding: 0 10px;
			margin-right: 15px;
			background: #666;
		}
	}
}