@charset "utf-8";
@import "../usage/core/reset";
// @import "../layout/yo-flex";
// @import "../../lib/fragment/yo-header";
// @import "../fragment/yo-list";
// @import "../element/yo-badge";

// 页面所需模块

// test header and footer statr
@import "../modules/header";
// @import "../modules/footer";
// test header and footer end

body{ 
    background: #FF0;
}