@charset "utf-8";
@import "../usage/core/reset";
// @import "../layout/yo-flex";
// @import "../../lib/fragment/yo-header";
// @import "../fragment/yo-list";
// @import "../element/yo-badge";

// 页面所需模块
@import "../modules/categorygroup";
@import "../modules/header";
@import "../modules/footer";
@import "../lib/layout/yo-flex.scss";
@import "../modules/index";
@import "../utils/common";
body{
    background: #fff ;
} 