//自定义 @mixin  
//自定义变量 $...

html,body{
	height: 100%;
}    
ul,li{
	list-style: none;
}
a{  
	text-decoration: none;
	color: #666;
	font-size: 14px;
}   

@font-face {font-family: 'iconfont';
    src: url('./iconfonts/iconfont.eot'); /* IE9*/
    src: url('./iconfonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./iconfonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('./iconfonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./iconfonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

